body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgba(255,255,255,0.5);
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 400;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #ffff00;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
}
h3, h4 {
	color: #333;
	font-size: 20px;
	font-weight: 400;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
	color: #ffffff;
}

.ca {
	text-align: center;
}
.la {
	text-align: left;
}

tr.source:target {
	background-color: #03252b94;
}
tr.mType:target {
	background-color: #03252b94;
}

p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #ffffad;
}
a:hover, a:focus {
	text-decoration: none;
	color: #25BAD0;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
	
}
table
{	margin-top: 15px;
	border: 2px;
	border-style:solid;
	border-collapse: collapse;
	border-color: white;
}
td, tr, th
{
	border: 1px;
	border-style:solid;
	height: 15 px;
	padding: 3px;
	border-color: white; 
	color: #ffffe0;
}

td.Caps{
	text-transform: capitalize;	
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #ffff00;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ffff00;
}
.on {
	background-color: #0c0c01 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffff00 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.btn-default {
	color: #25BAD0;
	background-color: transparent;
	border: 2px solid #25BAD0;
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #0c0c01;
	background-color: #ffff47;
	border-color: #ffff47;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../img/bkg1.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#99053740', GradientType=0 ); /* IE6-9 */
}
.section-title {
	padding: 25px 0 60px 0;
}
.intro H1 {
	font-size: 60px;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.9);
}
.intro .brand {
	color: #25BAD0;
	font-weight: 700;
}
.intro .intro-text p {
	font-size: 18px;
	margin-bottom: 40px;
	margin-top: 20px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
}
header .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
}
/* Services Section */
#services {
	padding: 120px 0;
	background-color: 	#E0E0E0;
	background: url(../img/auto-resolve-bg.jpg) no-repeat center center;
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(64,64,64,1) 0%, rgba(64,64,64,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(64,64,64,1) 0%, rgba(64,64,64,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 ); /* IE6-9 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 590px;
}
#services h4 {
	color: #ffff00;
	text-transform: uppercase;
}
#services i.fa {
	font-size: 32px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #3a3a3a;
	width: 100px;
	height: 100px;
	padding: 33px 0;
	border: 1px solid #ffff4c;
	background: #ffff4c;
	border-radius: 50%;
}


/* Services2 Section */
#services2 {
	padding: 120px 0;
	background: #505050;
}
#services2 h4 {
	color: #25BAD0;
	text-transform: uppercase;
}
#services2 i.fa {
	font-size: 32px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #053740;
	width: 100px;
	height: 100px;
	padding: 33px 0;
	border: 1px solid #25BAD0;
	background: #25BAD0;
	border-radius: 50%;
}


/* About Section */
#about {
	padding: 100px 0;
	color: #909090;
	/*color: rgba(255,255,255,0.9);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a6bb', endColorstr='#25bad0', GradientType=0 ); /* IE6-9 */
}
#about h2 {
	color: #ffff00;
}
#about h4 {
	color: #0a4b55;
}
#about .about-text {
	margin-left: 10px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Portfolio Section */
#portfolio {
	padding: 50px 0;
	background: #686868;
	
}


/* Team Section */
#team {
	padding: 100px 0;
	color: #909090;
	/*color: rgba(255,255,255,0.9);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(144,144,144,1) 0%, rgba(144,144,144,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a6bb', endColorstr='#25bad0', GradientType=0 ); /* IE6-9 */
}
#team h2 {
	color: #ffff00;
}
#team h3 {
	color: #ffff4c;
}
img.img-circle.team-img {
	width: 160px;
	height: 160px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 9px;
	color: rgba(255,255,255,0.9);
}
/* Contact Section */
#contact {
	background: url(../img/contact-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.75+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 ); /* IE6-9 */
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 20px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff6600;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}
#contact .btn {
	margin-top: 20px;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #25BAD0;
}
/* Footer Section*/
#footer {
	background: #484848;
	padding: 25px 0 20px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #25BAD0;
}

/* Media Queries */
@media (max-width: 1024px) {
.intro H1 {
	font-size: 42px;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}
#about img {
	margin-bottom: 20px;
}
}
